* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: Poppins, sans-serif;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;
}

p {
    width: 100vw;
    background-color: blue;
    height: 100vh;
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
    animation: hues 3s linear infinite -2s;
}

i {
    margin-left: 0.5rem;
}

h1 {
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(45deg, white, #FFB03A, green, blue); */
    /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(90deg, #ff2341 10%, #1432ff, 20%, #eed123 30%, #4356 40%, green 50%);


    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: filter 1s linear infinite;
}


@keyframes filter {
    100% {
        filter: hue-rotate(360deg);
        /* background-image: linear-gradient(60deg, #f452, #3cd, indigo, purple); */
    }

    /* 50% {
        background-image: linear-gradient(45deg, white, #FFB03A, green, blue);
    }

    0% {
        background-image: linear-gradient(45deg, red, #FFB03A, purple, blue);
    } */
}

@keyframes hues {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor {
    z-index: 100;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid yellow;
    position: absolute;
    animation: breathe 0.5s ease infinite;


}

.click {
    animation: click 2s ease backwards;

}

a {
    cursor: pointer;
}


@keyframes click {
    0% {
        scale: 1;
        background-color: rgba(255, 255, 255, 1)
    }

    100% {
        scale: 3;
        opacity: 0;
        border: 1px solid red;
        background-color: rgba(255, 255, 0, 0);

    }
}